@import "../../colors";
.wrap {
  padding: 1.5rem 1rem;

  border-radius: 10px;
  background-color: $black-color;

  text-align: center;
  color: $white-color;

   p {
     margin: 0.5rem 0;
     color:$grey-second-color;
   }
}

@media (min-width: 600px){
  .wrap {
    padding: 1.5rem;
  }
}

@media (min-width: 900px){
  .wrap {
    padding: 2.5rem;
    text-align: left;

    p {
      font-size: 1.125rem;
    }
  }
}