@import "../../../colors";

.wrap {
  display: flex;
  align-items: center;
}
.link {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 32px;
  width: 32px;
  margin-left: 1.5rem;

  border: 1px solid;
  border-radius: 50%;
  color: $black-second-color;

  &:hover {
    text-decoration: underline;
    color: $grey-main-color;
  }
}