@import "../../../colors";
.wrap {
  padding: 1rem 0;
  background-color: $black-color;
  color: $white-color;
}

@media (min-width: 600px){
  .wrap {
    padding: 1.5rem 0;
  }
}

@media (min-width: 900px){
  .wrap {
    padding: 3rem 0;
  }
}